{% extends "base.html.twig" %}
{% block title %}Ajouter Categorie{% endblock %}

{% block body %}
<h2> ajout un Categorie </h2>
 {{ form_start (p) }}
    {{ form_widget (p)}}
{{ form_end (p)}}
{% endblock %}